<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
<title>Proficient Login Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Proficient Login Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type='text/css' media="all" />
<!-- /css -->
</head>
<body>
<div class="overlay">
	<h1 class="w3layouts agileits">Proficient Login Form</h1>
	<div class="content-w3ls agileits">
		<img src="images/girl.png" alt="" class="user-wthree">
		<form action="#" method="post">
			<div class="form-group1-agile agile-info">
				<input type="text" name="userid" value="Username" onfocus="this.value = '';" 
				onblur="if (this.value == '') {this.value = 'Username';}">
			</div>
			<div class="form-group2-agile agile-info">
				<input type="password" name="psw" value="Password" onfocus="this.value = '';" 
				onblur="if (this.value == '') {this.value = 'Password';}">	
			</div>
			<div class="form-group3-agile wthree">
				<input type="checkbox" id="brand" value="">
				<label for="brand"><span></span> Keep Me Logged In?</label>
			</div>
			<input type="submit" value="LOG IN">
		</form>
		<a href="#" class="face-link"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
		<a href="#" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
	</div>
	<div class="footer-w3ls w3-agile">
		<p class="w3-agileits">© 2017 Proficient Login Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
	</div>	
</div>
<video autoplay loop id="video-background" poster="video/city.jpg" muted>
  <source src="video/city.mp4" type="video/mp4">
</video>	
<!-- js -->
<script src="js/modernizr.min.js"></script>
<!-- /js -->
</body>
</html>